<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>Part ID</th>
            <th>Part Name</th>
            <th>Price</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>

        <tr>
            <td><%=data.partID %></td>
            <td><%=data.partName %></td>
            <td><%=data.price %></td>
            <td><form action="/read" method="POST">
                <input type="hidden" name ="partID" value ="<%=data.partID %>"/>
                <input type="submit" value="Update" />
                </form>
            </td>
            <td><form action="/delete" method="POST">
                <input type="hidden" name ="partID" value ="<%=data.partID %>" />
                <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
    <form action="..">
    <input type="submit" value="Move to Home Screen" />
    </form>
    <form action="/add/inventory-add">
    <input type="submit" value="Add item to Inventory" />
    </form>
</body>
</html>