<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <div id="main-container">
<h2 id="compConfig">Comp Config</h2>
<div id="sort-form">
<form action="/sort" method="POST">
    <label for="sortPrice">Sort By: </label>
    <select class="dropdown" name="sortPrice">
      <option></option>
      <option value="priceHiLo">Price Highest First</option>
      <option value="priceLoHi">Price Lowest First</option>
    </select>
    <input class="option-Btn" type="submit" value="Sort">
  </form>
</div>
  <div id="table-container">
<table id="inventory-table" border="1">
    <tr>
        <th>Part ID</th>
        <th>Part Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>In Stock</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    
    <%
    if(userData.length!=0){
    var i=1;
    userData.forEach(function(data){
    %>

    <tr>
        <td><%=data.partID %></td>
        <td><%=data.partName %></td>
        <td><%=data.price %></td>
        <td><%=data.partType %></td>
        <td><%=data.currentStock %></td>
        <td><form action="/read" name="Update" method="POST">
            <input type="hidden" name="partID" value ="<%=data.partID %>"/>
            <input type="hidden" name="partName" value ="<%=data.partName %>"/>
            <input type="hidden" name="price" value ="<%=data.price %>"/>
            <input type="hidden" name="partType" value ="<%=data.partType %>"/>
            <input type="hidden" name="currentStock" value ="<%=data.currentStock %>"/>
            <input class="option-Btn" type="submit" value="Update" />
            </form>
        </td>
        <td><form action="/delete" name="Delete" method="POST">
            <input type="hidden" name ="partID" value ="<%=data.partID %>" />
            <input class="option-Btn" type="submit" value="Delete" />
            </form>
        </td>
 
        </td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
</table>
</div>
<div id="options-container">
    <form action="/add/inventory-add">
    <input class="option-Btn" type="submit" value="Add item to Inventory" />
    </form>
    <form action="/search/inventory-search">
    <input class="option-Btn" type="submit" value="Search current Inventory" />
    </form>
</div>
</div>

</body>
</html>